doctype html
html
  head
    title= title
    ling(rel="alternate" type='application/atom+xml' title='Recent Entries' href='/atom.xml')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
