doctype html
html
  head
    title= title
    link(rel="alternate" type="application/atom+xml" title="欅坂46" href="/atom.xml")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content
